NODE_ENV=
PORT=
FRONTEND_URL=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

OAUTH_GOOGLE_CLIENT_ID=
OAUTH_GOOGLE_CLIENT_SECRET=
OAUTH_GOOGLE_CALLBACK_URL=

JWT_ACCESS_SECRET_KEY=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET_KEY=
JWT_REFRESH_EXPIRES_IN=

COOKIE_NAME=
COOKIE_HTTP_ONLY=
COOKIE_PATH=
COOKIE_SAME_SITE=
